.outerFrame {
  padding: 1rem 1.5rem;
  height: 10rem;
  background-color: grey;
  border-radius: 8px 8px 35px 8px;
  border: 3px solid black;
  margin-top: 1rem;
}

@media (width >= 800px) {
  .outerFrame {
    height: 20rem;
    padding: 2rem 3.5rem;
  }
}

.screen {
  height: 100%;
  width:100%;
  background-color: #616b39;
  border: 3px solid black;
}