@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');
.outerFrame {
	padding: 1rem 1.5rem;
	height: 10rem;
	background-color: grey;
	border-radius: 8px 8px 35px 8px;
	border: 3px solid black;
	margin-top: 1rem;
}

@media (width >= 800px) {
	.outerFrame {
		height: 20rem;
		padding: 2rem 3.5rem;
	}
}

.screen {
	height: 100%;
	width: 100%;
	border: 3px solid black;
	padding: 0.5rem;
	position: relative;
	word-break: break-word;
}

.isOn {
	background-color: #a3b361;
	box-shadow: 0 0 1rem #a3b361;
	border: 3px solid rgba(0, 0, 0, 0.445);
}

.isOff {
	background-color: #616b39;
}

.scrollbar {
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: #ff000033 #ffa50057;
}
