.gameboyContainer {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

.shell {
	height: 30rem;
	width: 19rem;
	border: 5px solid grey;
	border-radius: 10px 10px 90px 10px;
	background-color: #c7c4c5;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
}

@media (width >= 800px) {
	.shell {
		height: 53rem;
		width: 33rem;
		border-radius: 10px 10px 110px 10px;
		padding: 1rem;
	}
}

.buttonRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 3rem;
	padding: 0rem 1rem;
}

@media (width >= 800px) {
	.buttonRow {
		margin-top: 5rem;
	}
}
